<body>
    <div class="container-fluid">

        <form [formGroup]="LoginForm" (ngSubmit)="onSubmit(LoginForm.value)">
            <div class="login-container">
                <h2 style="color: crimson;text-align: center;font-size: 4vw;font-weight: bold;">Login</h2>
                <br>
                <div class="formgroup">
                        
                    <label style="color:burlywood;font-style: italic;font-size: 2vw;font-weight: bold;">Username:</label>
                    <input formControlName="name" type="text" class="form-control">

                </div>
                <br>
                <div class="formgroup">
                    <label
                        style="color:burlywood;font-style: italic;font-size: 2vw;font-weight: bold;">Password:</label>
                    <show-hide-password size="lg" btnStyle="primary" [btnOutline]="false">
                        <input formControlName="password" type="password" class="form-control">
                    </show-hide-password>
                </div>
                <br>
                <button class="btn btn-link" type="submit">Login</button>
                <a routerLink="/register" class="btn btn-link">Register</a>
            </div>
        </form>
    </div>

</body>