*{
    font-family:'Open Sans',sans-serif;
}
.contentInside{
    
    display: inline-flex;
    
}
.col-container {
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
}

.col {
    display: table-cell; /* Make elements inside the container behave like table cells */
}
.whole-img{
    background-color:wheat;
}

.banner-img {
    padding: 5px 5px 0;
    text-align: center;
}

.banner-img img {
    width: 80%;
    height: 110px;
    border-radius: 5px;
    
}

.card{
    margin-right: 5px;
    margin-left:5px;
    margin-bottom: 5px;
    height:600px;
    width:18rem;
}
label{
    font-family:'Open Sans',sans-serif;
    font-size: 1vw; 
    float: left;
}

::-webkit-scrollbar {
    width: 0.7em;
}
::-webkit-scrollbar-track {
   
    box-shadow: inset 0 0 4px darkgray; 
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: darkgrey;
  outline: 0.5em solid slategrey;
}

::-webkit-scrollbar-thumb:hover {
    background: salmon; 
  }

  #content{
    
    background:white;
    
    background-size:cover;
      
  }
  .container{
      background:salmon;
  }

