.register-container{
     
   margin:5px 150px 0px;
    position: relative;
    bottom: 60px;
    max-width: 500px;
    
    
  }

  body{
    
    background:url(images.png);
    background-size:cover;
    background-color: cadetblue;
    padding-top: 0.5rem; 
      
  }
  label{
    font-family:'Open Sans',sans-serif;
    color:saddlebrown;
 
    font-size: 2vw;
  }

  
  